@import url("https://fonts.googleapis.com/css2?family=Acme&family=Montserrat:wght@400;600&display=swap");

.App {
  max-width: 600px;
  margin: auto;
  padding: 2rem;
  text-align: left;
}

body {
  font-family: "Acme", sans-serif;
  background-color: #efefef;
}
